{{!-- A detailed page for each recipe. --}}
<!DOCTYPE html>
<html>
<head>
    <title>Recipe</title> 
</head>
<body>
    <!-- Define the template in a script tag with an id -->
    <script id="recipe-template" type="text/x-handlebars-template">
        <h1>{{ title }}</h1>
        <h2>Chef: {{recipe.user_id}} </h2>
        <h2>Description: {{ description}}</h2>
        <p>Prep Time: {{ prep_time }}</p>
        <p>Cook Time: {{ cook_time }}</p>
        <h2>Ingredients:</h2>
        <ul>
            {{#each ingredients}}
                <li>{{ this }}</li>
            {{/each}}
        </ul>
        <h2>Instructions:</h2>
        <ol>
            {{#each instructions}}
                <li>{{ this }}</li>
            {{/each}}
        </ol>
        <div class="form-group">
        <button class="btn btn-primary" type="submit">share</button>
      </div>
    </script>

    <!-- Create a container where the recipe will be rendered -->
    <div id="recipe-container"></div>

    <!-- Include the external JavaScript file -->
    <script src="recipe.js"></script>
</body>
</html>